
.row>*{
    flex-grow: 1;
    flex-shrink:1;
}
table{
    min-width: 100%;
}
tr:not(:first-of-type){
    border-top:1px solid rgba(1, 1, 1, 0.1);
}
tr:nth-child(2) .row{
    vertical-align: middle;
    align-items: center;
    text-align: center;
}
tr:nth-child(2) div>p{
    width:33.3%;
}
tr td img{
    margin-left: 5em;
    max-width: 64px!important;
    max-height: 64px!important;
}
tr td:first-of-type{
    border-right: 1px solid rgba(1, 1, 1, 0.1);
}
table tr td{
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}
